<div class="w3-content w3-margin-top" style="max-width: 1400px">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img
            src="http://localhost:3000/mainphoto/dimitar.jpg"
            style="width: 100%"
            alt="Avatar"
          />

          <br />
          <br />
          <br />
          <br />

          <div class="w3-display-bottomleft w3-container w3-text-black name">
            <h2>Dimitar Malinov</h2>
          </div>
        </div>
        <div class="w3-container">
          <p>
            <i
              class="fa fa-book fa-fw w3-margin-right w3-large w3-text-teal"
            ></i
            >Studying Web Development
          </p>
          <p>
            <i
              class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
            ></i
            >Sofia, Bulgaria
          </p>
          <p>
            <i
              class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"
            ></i
            >malinovd02@gmail.com
          </p>
          <p>
            <i
              class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
            ></i
            >+359 88 567 2730
          </p>
        </div>
      </div>
      <br />

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i
            class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"
          ></i
          >About The Project
        </h2>
        <div class="w3-container">
          <hr>
          <p>
            The application is project defense for the Angular course in
            <a href="https://softuni.bg/">SoftUni</a>. The studying program of
            the Software University is a combination of programming courses,
            entirely focused on gaining in-depth knowledge of fundamentals of
            programming, developing logical and algorithmic thinking, as well as
            acquiring practical skills to work with the latest software
            technologies.
          </p>

          <hr />

          <p>The application is made by using the MEAN stack:</p>
          <ul>
            <li>MongoDB</li>
            <li>Express</li>
            <li>Angular</li>
            <li>NodeJS</li>
          </ul>

          <hr />

          <p>Pages -> About, Posts, Blog, Profile, Create & Edit x2, Not-found</p>

          <hr>

          <p>Defence date: 16.04.2022</p>
        </div>
      </div>

      <!-- End Right Column -->
    </div>

    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16">
          <i
            class="fa fa-code fa-fw w3-margin-right w3-xxlarge w3-text-teal"
          ></i
          >Dive into the project
        </h2>
        <div class="w3-container center">

          <div class="btn">
              <button mat-raised-button color="primary" routerLink="/posts" [disabled]="!userIsAuthenticated">Posts</button>
          </div>
          <div class="btn">
              <button mat-raised-button color="primary" routerLink="/blog" [disabled]="!userIsAuthenticated">Blog</button>
          </div>
          <div class="btn">
              <button mat-raised-button color="primary" routerLink="/login" [disabled]="userIsAuthenticated">Login</button>
          </div>
          <div class="btn">
              <button mat-raised-button color="primary" routerLink="/signup" [disabled]="userIsAuthenticated">Signup</button>
          </div>
        
        </div>
      </div>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
