<mat-card>    
    <mat-spinner *ngIf="isLoading"></mat-spinner>



    

    <form [formGroup]="form" (submit)="onSignup()" *ngIf="!isLoading">

        <div>
            <button mat-stroked-button type="button" (click)="filePicker.click()">
              Pick Profile Picture
            </button>
            <input type="file" #filePicker (change)="onImagePicked($event)" />
          </div>
      
          <div
            class="image-preview"
            *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
          >
            <img [src]="imagePreview" />
          </div>

        <mat-form-field>
            <input 
            matInput
            formControlName="name"
            type="text"
            placeholder="Full name"
            required
            />
            <mat-error *ngIf="form.get('name').invalid">Minimum length: 3 chars</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
            matInput
            formControlName="email"
            type="email"
            placeholder="E-mail"
            pattern="^([a-zA-Z0-9]+)@([a-zA-Z]+)\.([a-zA-Z]+)$"
            required
            email/>
            <mat-error *ngIf="form.get('email').invalid">Please enter a valid email. e.g. test@test.com</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <input 
            type="password"
            formControlName="password"
            matInput
            placeholder="Password"
            required>
            <mat-error *ngIf="form.get('password').invalid">Minimum length: 6 chars</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input 
          type="password"
          formControlName="repass"
          matInput
          placeholder="Re-Password"
          required>
          <mat-error *ngIf="form.get('repass').invalid">Minimum length: 6 chars</mat-error>
      </mat-form-field>

      <p *ngIf="err" style="color: red;">{{err}}</p>

        <button 
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="!isLoading">Signup</button>

    </form>

</mat-card>