@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

mat-form-field {
    width: 100%;

}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
    margin-bottom: 1.5rem;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}
