<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card class="example-card" [ngClass]="{'owner-card': userId == post.creator}" *ngFor="let post of posts">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" [src]="post.creatorAvatar"/>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>posted by: {{post.creatorName}}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    [src]="post.imagePath"
    [alt]="post.title"
  />

  <mat-card-content>
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>

  <mat-divider inset *ngIf="userIsAuthenticated"></mat-divider>

  <mat-card-actions class="cardactions" *ngIf="userIsAuthenticated" align="start">
    <div class="actions">
      <div *ngIf="userId != post.creator">
        <button mat-button (click)="onLiked(post.id)">LIKE</button>

        <button mat-button>DISLIKE</button>
      </div>

      <!-- <div *ngIf="userId == post.creator">
        <p>You already voted!</p>
      </div> -->

      <div class="settings" *ngIf="userId == post.creator">
        <button mat-icon-button color="primary" [routerLink]="['/edit', post.id]">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="onDelete(post.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-actions>

  <!-- <mat-divider inset></mat-divider> -->

  <mat-card-subtitle>Likes: {{post.usersLiked}} | Dislikes: 2</mat-card-subtitle>

</mat-card>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>

<p class="info-text" *ngIf="posts.length <= 0 && !isLoading">There are no posts!</p>