<mat-card class="example-card" *ngIf="blog">
  <mat-card-header>
    <mat-card-title>{{blog.title}}</mat-card-title>
  </mat-card-header>

  <img
    mat-card-image
    [src]="blog.imagePath"
  />

  <mat-card-content>
      <p>{{blog.content}}</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <div class="actions">
      <div class="settings">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/blog/edit', blog.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="onDelete(blog.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

  </mat-card-actions>

</mat-card>
