@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

body {
  background-color: #f0f0f0;
  font-family: roboto;
}

mat-spinner {
  margin: auto;
}

.container {
  width: 400px;
  margin: 80px auto 20px;
  background-color: rgb(247, 247, 247);
  padding: 0 10px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
}

.center {
  text-align: center;
}

.content-container {
  width: 400px;
  margin: 80px auto 20px;
  background-color: rgb(247, 247, 247);
  padding: 0 10px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
}

.avatar {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  box-shadow: 0 0 0 13px #f0f0f0;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

button {
  text-decoration: none;
  border: none;
  text-align: center;
  background-color: transparent;
}

mat-card-title {
  margin: 0;
  padding: 0;
}

mat-chip {
  cursor: pointer;
}

.info-text {
  text-align: center;
  font-size: large;
}

.example-card {
  margin-bottom: 2rem;
  max-width: 400px;
}

.owner-card {
  background-color: rgb(233, 240, 241);
}

.cardactions {
  display: flex;
}

.actions {
  display: inline-flex;
}

.settings {
  margin-left: 160px;

}