<mat-card>    
    <!-- spinner while loading -->

    <form [formGroup]="form" (submit)="onSavePost()">

        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input 
          matInput 
          type="text"
          formControlName="title">
          <mat-error *ngIf="form.get('title').invalid">Please enter a valid title</mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
          <textarea 
          matInput 
          rows="6"
          formControlName="content"></textarea>
          <mat-error *ngIf="form.get('content').invalid">Please enter post content</mat-error>
        </mat-form-field>

        <button 
        mat-raised-button
        color="accent"
        type="submit">Save Post</button>

      </form>

</mat-card>