<mat-card
  *ngFor="let blog of blogs"
  class="example-card"
  [ngClass]="{ 'owner-card': userId == blog.creator }"
>
  <mat-card-title-group>
    <mat-card-title>{{ blog.title }}</mat-card-title>
    <mat-card-subtitle>Posted by: {{ blog.creatorName }}</mat-card-subtitle>
    <img mat-card-sm-image [src]="blog.imagePath" />
  </mat-card-title-group>

  <mat-card-content>
    {{ blog.firstSentance }}
  </mat-card-content>

  <mat-card-actions align="end">
    <div class="actions">
    <div class="settings" *ngIf="userIsAuthenticated && userId == blog.creator">
        <button
          mat-icon-button
          color="primary"
          [routerLink]="['/blog/edit', blog.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="onDelete(blog.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <button mat-button [routerLink]="['/blog/', blog.id]">Read More &#9654;</button>
  </mat-card-actions>
</mat-card>

<mat-paginator
  [length]="totalBlogs"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="blogs.length > 0"
></mat-paginator>

<p class="info-text" *ngIf="blogs.length <= 0 && !isLoading">
  There are no blogs!
</p>
